* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    /* ou 170% */
}

:root {
    --brand-color: #EF5F4c;
    --font-family: "Poppins", sans-serif;
    --text-lg: bold 32px/125% var(--font-family);

}